<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AI Resume Builder</title>
    <link rel="stylesheet" href="./static/style.css">
</head>

<body>

    <h2 class="title">AI Resume & Portfolio Builder</h2>

    <div class="form">
        <input id="name" placeholder="Full Name">
        <input id="role" placeholder="Role">
        <input id="email" placeholder="📧 Email">
        <input id="phone" placeholder="📞 Phone">
        <input id="linkedin" placeholder="🔗 LinkedIn URL">
        <input id="github" placeholder="💻 GitHub URL">
        <input id="portfolio" placeholder="🌐 Portfolio Website">

        <input id="skills" placeholder="Skills (comma separated)">

        <textarea id="education" placeholder="Education (Title | Description)"></textarea>
        <textarea id="projects" placeholder="Projects (Title | Description)"></textarea>
        <textarea id="experience" placeholder="Experience (Title | Description)"></textarea>
        <textarea id="certifications" placeholder="Certifications (Title | Description)"></textarea>

        <button onclick="generateResume()">Generate Resume</button>
    </div>

    <script src="./static/script.js"></script>
</body>


</html>

